.user__list {
    flex:4;
    /* padding: 20px; */
}

.user__list__user {
    display: flex;
    align-items: center;
}

.user__list__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

div[data-field="status"] {
    margin-left: 0px !important;
}

.status {
    margin-left: 20px;
}

.Active {
    background-color:#02a561;
    -webkit-box-shadow: 0px 0px 11px -3px green; 
    box-shadow: 0px 0px 11px -3px green;
}

.NotActive {
    background-color: #e50914;
    -webkit-box-shadow: 0px 0px 11px -3px #e50914; 
    box-shadow: 0px 0px 11px -3px #e50914;
}

.user__delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #e50914;
    outline: none !important;
}

.user__edit__link {
    display: flex;
    align-items: center;
}

.user__edit {
    background-color: #02a561;
    color: white;
    -webkit-box-shadow: 0px 0px 11px -3px green; 
    box-shadow: 0px 0px 11px -3px green;
    border: none;
    border-radius: 50%;
    margin-left:10px;
    margin-right: 10px;
    cursor: pointer;
}