.featured {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.downArrow {
    color:#e50914;
    display: flex;
    align-items: center;
}

.upArrow {
    color:green;
    display: flex;
    align-items: center;
}

.featured__title {
    font-size: 20px;
}

.red__bar {
    position: absolute;
    top:0;
    left : 0;
    width:100%;
    background-color: #e50914;
    height: 2vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.featured__item {
    position: relative;
    flex : 1 ;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 10px;
    cursor:pointer;
    -webkit-box-shadow: 0px 0px 11px -3px #000000; 
    box-shadow: 0px 0px 11px -3px #000000;
}

.featured__money__container {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoneyRate {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.featured__money {
    font-size: 30px;
    font-weight: bold;
}